@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Give+You+Glory&family=Handlee&family=LXGW+WenKai+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Qwitcher+Grypen:wght@400;700&display=swap");

:root {
  --spenceGold: #dbb132;
  --spenceBlue: #244e91;
  --lightBlue: #34425d;
  --lightGold: #d2b37c;
  --deepBlue: #192533;
  --deepGold: #fcc52e;
  --backGround: #faf9f9;

}

* {
  font-family: "Gentium Plus";
  box-sizing: border-box;
}

a {
  color: var(--spenceBlue);
}

body {
  margin: 0;
  padding: 0;
  min-height: 50vh;
  background-color:var(--backGround);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
/* NAVBAR*/

.navigation {
  display: flex;
  flex-direction: column;
  top:0;
  z-index: 1;
}
.navbar .titleCenter {
  width: 100vw;
  background-color: var(--deepBlue);
}

.navbar h1 a {
  color: var(--deepGold);
  text-decoration: overline;
  text-align: center;
  font-size: xxx-large;
  font-family: "Sacramento";
  width: 100%;
}

.titleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  height: 100px;
}

.navbar ul {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  margin: 40px 0;
  font-size: 20px;
}

/* this works to keep nav bar from having dots*/
.navbar ul li {
  cursor: pointer;
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  color: var(--deepBlue);
  margin: 60px 0;
}

.navbar li :hover {
  opacity: 0.7;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/*FOOTER*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  top: 40px;
  bottom: 0;
  left: 0;
  background-color: var(--deepBlue);
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.7);
  transition: 0.3s linear;
  color: var(--spenceBlue);
}

.container {
  max-width: 1240px;
  padding: 70px 41px;
  margin: auto;
}

.content_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.profil{
  margin-right: 30px;
}

.profil .logo_area {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profil .logo_area img {
  border-radius: 50%;
  border: 1px solid var(--spenceBlue);
  width: 100px;
  margin-right: 25px;
  
}

.logo_area .logo_name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0rem;
  color: var(--spenceGold);
  letter-spacing: 0.2em;
}

.desc_area {
  max-width: 320px;
  margin-bottom: 1.25rem;
}

.desc_area p {
  color: var(--spenceGold);
  font-weight: 400;
  line-height: 28px;
}

.socials_header,
.articles_header,
.periodicals_header {
  padding-right: 65px;
  margin-right: 10px;
}

.socials_header .socials_name {
  color: var(--spenceGold);
}

.socials_icon i{
  margin-top: 20px;
  font-size: 25px;
}
.submit_header a img {
  margin-top:20px;
  margin-left:0;
  width: 30px;
}
.socials_header a:hover {
  color: var(--spenceGold);
}

.headers_area {
  display: flex;
}

.articles_name,
.periodicals_name,
.socials_name,
.submit_name {
  letter-spacing: 0.3em;
  color: var(--spenceGold);
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.articles_header li a:hover,
.periodicals_header li a:hover {
  color: var(--deepGold);
}

.articles_header li,
.periodicals_header li {
  margin-bottom: 10px;
}

footer hr {
  height: 1px;
  border: none;
  background-color: var(--spenceGold);
  margin-bottom: 1rem;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: var(--lightBlue);
}

.copy_right span {
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 0.135rem;
}

.tou a {
  color: var(--lightBlue);
  margin-left: 1.5rem;
}

.credits{
  margin-left:auto;
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 4px;

}

.credits a:hover{
  opacity: 0.7;
  color:var(--deepGold)
}
@media screen and (max-width: 768px) {
  .content_footer {
    flex-wrap: wrap;
    justify-content: left;
  }

  .headers_area {
    flex-wrap: wrap;
    justify-content: left;
  }

  .articles_header {
    margin-left: 0;
    margin-right: 40px;
  }

  .socials_header {
    margin-bottom: 1rem;
  }

  .footer_bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 510px) {
  .articles_header {
    margin-bottom: 8px;
  }
  .copy_right {
    margin-bottom: 8px;
  }
}
